<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>Andrija Perovic | Web Developer | andrijaperovic@gmail.com</title>


	<meta name="keywords" content="">
	<meta name="description" content="">

  <link rel="stylesheet" type="text/css" href="/stylesheets/reset_fonts_grids.css" media="all">
  <link rel="stylesheet" type="text/css" href="/stylesheets/resume.css" media="all">

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Andrija Perovic</h1>
					<h2>Web Developer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">

						<h3><a href="mailto:andrijaperovic@gmail.com">andrijaperovic@gmail.com</a></h3>
						<h3>(858) - 775-2903</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>About</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
Recent graduate of UC Santa Barbara, College of Engineering, with a B.S., Computer Science. Interests range from web development using the RoR framework to javascript MVC's, more specifically Spine.js and Zepto.js/jQuery for webkit interactions. Looking for mobile startup opportunities in the bay area and RoR contract work.							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Web Development</h2>
									<p>Quickly and effectively scaffold and prototype a Rails app with a HAML view-layer backed by SASS styling.</p>
								</div>

								<div class="talent">
									<h2>Agile Methodology</h2>
									<p>Optimally work in an agile, daily stand-up, pair programming or solo development environment.</p>
								</div>

								<div class="talent">
									<h2>Tech Savvy</h2>
									<p class="minimize">Knowledgable about up and coming frameworks, including PhoneGap for mobile, HTML5 CSS3 standards, and javascript MVC's. </p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>Spine.js</li>
								<li>HTML5/CSS3</li>
                <li>Jasmine/unit testing</li>
								<li class="last">jQuery</li>
							</ul>

							<ul class="talent">
								<li>SASS/HAML/ERB</li>
								<li>Ruby on Rails</li>
                <li>Git</li>
								<li class="last">Zepto</li>
							</ul>

							<ul class="talent">
								<li>OS X</li>
								<li>Windows XP/Vista</li>
                <li>UNIX</li>
								<li class="last">Java/Struts</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">

						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>SocialStay, LLC</h2>
								<h3>Software Engineer</h3>
								<h4>Dec. 2010-Oct. 2011</h4>
                <p>Part of a agile dev team which is developing an HTML5 platform based on the phonegap web framework integrated with a Rails backend and content management system, supporting thirty hotel clients by driving on-site revenue and building customer loyalty with guests. Programming mostly in javascript and ruby. Currently supporting iPhone and Android.</p>
							  <div class="contact">
                   <p>Contact: Ross Hale (CTO), (805) 705-5744</p>
                   <p><i>71 Eucalyptus Lane Montecito, CA 93108</i></p>
							  </div>
              </div>

							<div class="job">
								<h2>Asurion Mobile</h2>
								<h3>QA Intern</h3>
								<h4>Jun. 2010-Sep. 2010</h4>
							  <p>Worked on client side android development/regression testing with mobile recovery app for Android . Did automated UI unit testing for mobile recovery application, as well as developed a testing module (with JUnit) which involved mocking-out the Android content model to simulate database. Module interfaced with a J2EE servlet running locally. Added live-debug features to app for QA team. </p>
                <div class="contact">
                   <p>Contact: Brandon Salzberg (Senior Server Analyst/Project Manager), (805) 570-9702</p>
                   <p><i>1400 Fashion Island Boulevard San Mateo, CA 94404</i></p>
							  </div>
              </div>

							<div class="job">
								<h2>Capstone, Senior Project</h2>
								<h3>UI Design/Web Development</h3>
								<h4>Jan. 2010-Jun. 2010</h4>
                <p>Senior project to prototype social networking website Apollo (sonosshare.appspot.com) which uses a UPNP scraper application that interacts with DMR (digital media renderer) devices on LAN, parses XML to retrieve metadata from SOAP packets and sends it to the website hosted on GAE integrated through Facebook connect and twitter. Made flash/javascript widgets for website.</p>
							  <div class="contact">
                   <p>Contact: Giovanni Vigna (UCSB Professor/Security Lab), vigna@cs.ucsb.edu</p>
                   <p><i>University of California, Santa Barbara Santa Barbara, CA 93106-5110</i></p>
							  </div>
              </div>

							<div class="job last">
								<h2>AVID</h2>
								<h3>Math/Physics Tutor</h3>
								<h4>Feb.2006 - Jul.2006</h4>
                <p>Tutored high-school students in physics and mathematics primarily, held tutorial sessions. Math topics included anything ranging from algebra &amp; geometry to differential calculus and linear algebra. </p>
							  <div class="contact">
                   <p>Contact: Janet Jones (Teacher &amp; Coordinator): (619) 525-7464, x 3006</p>
                   <p><i>San Diego High School, School of International Studies</i></p>
							  </div>
              </div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>University of California, Santa Barbara - Santa Barbara, California</h2>
							<h3>Computer Science B.S, March 2011  </h3>
						</div>

            <div class="yui-u">
							<h2>San Diego High School, School of International Studies</h2>
							<h3>International Baccalaureate Diploma, July 2006  </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Andrija Perovic — <a href="mailto:andrijaperovic@gmail.com">andrijaperovic@gmail.com</a> — (858) - 775-2903</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->





</body></html>